body {
    margin: 0;
    background-color: black;
}

header {
    margin: 0;
    background-color: red;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 90%;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.menu .link {
    text-decoration: none;
    font-size: 24px;
    color: aliceblue;
}

.hamb {
    height: 90%;
    display: none;
}

.part1 {
    background-image: url(img/fundo.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin: 0%;
    padding: 0%;
}

.part1 .titulo {
    width: 40%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;

}

.titulo h1 {
    font-size: 80px;
    color: aliceblue;
}

.titulo h2 {
    font-size: 40px;
    color: red;
}
.titulo img {
    width: 10%;
}
.part2 {
    width: 40%;
    height: 15vh;
}
.part2 h1 {
    font-size: 60px;
    color: aliceblue;
}
.part3 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part3 img {
    width: 40%;
    height: 90%;
}
.part3 .texto {
    width: 50%;
    height: 100%;
}
.texto h1 {
    color: aqua;
    font-size: 150%;
}
.texto p {
    color: aliceblue;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .hamb {
        display: inline;
    }
    .part1 .titulo {
        width: 100%;
    }
    .titulo h1 {
        font-size: 60px;
    }
    .titulo h2 {
        font-size: 30px;
    }
    .part2 {
        width: 100%;
    }
    .part2 h1 {
        font-size: 40px;
    }
    .part3 {
        display: inline;
    }
    .part3 img {
        width: 100%;
    }
    .part3 .texto {
        width: 100%;
    }
}